{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_name" class="form-label">Name</label>
                    {{ form.name }}
                </div>
                <div class="mb-3">
                    <label for="id_email" class="form-label">Email</label>
                    {{ form.email }}
                </div>
                <div class="mb-3">
                    <label for="id_message" class="form-label">Message</label>
                    {{ form.message }}
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>



{% endblock %}
